<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
    <link href="/static/css/blogsheet.css" rel="stylesheet">
    <link href="/static/css/lib/highlight.css" rel="stylesheet">
</head>
<body>



<div id="aboutme">
    <div>

        <div id="myt">
            <p class="myp">
                <a >{{.wechat}}</a>
            </p>
            <p class="myp">
                <a href="{{.qq}}">{{.qq}}</a>
            </p>
            <p class="myp">
                <a href="{{.tel}}">{{.tel}}</a>
            </p>
        </div>


    </div>

</div>

</body>
</html>